div {
    display: inline-block;
    width: 295px;
    height: 200px;
    margin: -5px;
}
.vermelho{
    background-color: rgb(255, 44, 44);
}
.blue {
    background-color: rgb(86, 193, 242);
}
.green{
    background-color: rgb(23, 242, 129);
}
.yellow{
    background-color: rgb(253, 255, 138);
}